.scroller {
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
}

.scroller-inner {
	height: calc(100% + 1px);
}

.scroller::-webkit-scrollbar,
.scroller-inner::-webkit-scrollbar {
	width: 0 !important;
	display: none;
}
